# .coveragerc to control coverage.py
[run]
# branch = True
source = pyve.py,setup.py
# omit = tests.py
parallel = False
[report]
show_missing = True
omit =
    docs/*
    tests/*
[html]
directory = coveragereport

